.App {
  display: flex;
  justify-content: center;
}

.select-label{
  color: rgb(29, 29, 148);
}
.select{
  color: rgb(29, 29, 148);
}
.chat-box {
  width: 300px;
  max-height: 500px;
  height: auto;
  text-align: center;
  background-color: floralwhite;
  border: 2px solid black;
}
.chat-box input{
  width: 70%;
  margin: 1%;
}
.chat-box button{
  width: 20%;
  margin: 1%;
  background-color: rgb(102, 131, 205);
  border-color: white;
  color: white;
}
.typing::placeholder{
  color: green;
  font-weight: 800;
}
.chat-box h3{
  color: red;
}
.messages{
  margin-top: 10px;
  height:75%;
  width: auto;
  overflow: auto;
}
.message_container{
  min-height: 20px;
  width: 160px;
  max-width: 190px;
  color: white;
  padding-left: 5px;
  text-align: left;
  margin: 2px;
}
.receive{
  background-color: rgb(29, 29, 148);
  float: left;
}
.send{
  background-color: rgb(102, 131, 205);
  float: right;
}

.msg-sender{
  font-size: 8px;
  color: white;
}
.msg-message{
  font-size: 12px;
  color: white;
}
.msg-date{
  font-size: 7px;
  text-align: end;
  color: white;
}