.App {
  display: flex;
  justify-content: center;
}

.select-label{
  color: red;
}
.select{
  color: red;
}
.chat-box {
  width: 300px;
  min-height: 500px;
  height: auto;
  text-align: center;
  background-color: floralwhite;
}
.chat-box input{
  width: 70%;
  margin: 1%;
}
.chat-box button{
  width: 20%;
  margin: 1%;
  background-color: yellowgreen;
  border-color: white;
  color: white;
}
.typing::placeholder{
  color: green;
  font-weight: 800;
}
.chat-box h3{
  color: red;
}
.message_container{
  min-height: 25px;
  width: 160px;
  max-width: 190px;
  color: white;
  padding-left: 10px;
  text-align: left;
  margin: 5px;
}
.receive{
  /* min-height: 25px;
  width: 160px;
  max-width: 190px;
  color: white;
  padding-left: 10px;
  text-align: left;
  margin: 5px; */
  /* margin-left: 10px; */
  background-color: rgb(235, 198, 125);
  float: left;
}
.send{
  /* min-height: 25px;
  width: 160px;
  max-width: 190px;
  color: white;
  padding-left: 10px;
  text-align: left;
  margin: 5px; */
  /* margin-right: 10px; */
  background-color: rgb(255, 176, 210);
  float: right;
}

.msg-sender{
  font-size: 9px;
  color: rgb(148, 148, 148);
}
.msg-message{
  font-size: 15px;
  color: white;
}
.msg-date{
  font-size: 9px;
  text-align: end;
  color: rgb(148, 148, 148);
}